

<h1>Welcome to Burger Land</h1>

<div class="undevoured">
    {{#each burgers}}
    <p id="Burger">{{burger_name}}</p>
    <button type="submit" dvrd="{{devoured}}" brgrid="{{id}}" class="devour">Devour It</button>
    {{/each}}
</div>

<form class="formBurger">

<div class="orderBurger">
   <label for="burg">Order a burger</label>
   <input type="text" id="orderForm" name="burger">
 </div>

 <button type="submit" id="burgerButton">Order Burger!</button>
</form>

<div class="devoured">



</div>

