<script src="/public/assets/css/burger_style.css"></script>

<h1>Welcome to Burger Land</h1>

<div>
    {{#each burgers}}
    <p id="Burger">{{burger_name}}</p>
    <button type="submit" id="devour">Devour It</button>
    {{/each}}
</div>

<form class="formBurger">

<div class="orderBurger">
   <label for="burg">Order a burger</label>
   <input type="text" id="orderForm" name="burger">
 </div>

 <button type="submit" id="burgerButton">Order Burger!</button>
</form>

