#orderForm{
    box-sizing: content-box;
    width: 100px;
}

.orderBurger{
    color: red;
}

#devour{
    color: blue;
}

.undevoured{
    float: left;
}

.dev-container{
    float: right;
}

.orderBurger{
    float: left;
}